* {
   margin: 0;
   padding: 0;
   font: 14px/18px Arial,Sans-Serif;
   color: #222222;
}
a {
   text-decoration: none;
}
p {
   margin 5px 0px;
}
/*--- header ---*/
#header {
   border: 1px solid firebrick;
   background-color: wheat;
   width: 800px;
   margin: auto;
   padding: 5px;
}

#header h1 {
   /*border: 1px solid blue;*/
   margin: 20px 20px;
   font-size: 32px;
   font-weight: bold;
   font-family: cambria, serif;
   text-align: center;
   color: firebrick;
   text-shadow: 1px 1px 1px white;

}
#header span {
   border: 1px solid green;
   background-color: #ccffcc;
   border-radius: 20px;
   display: inline-block;
   width: 50px;
   padding: 5px;
   text-align: center;
   right: 0;
   top: 0;
   position: fixed;
}
#header span a {
   color: green;
   text-shadow: 1px 1px 1px white;
   font-weight: bold;
}
/*--- menu ---*/
#menu {
   border: 1px solid firebrick;
   width: 810px;
   height: 28px;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
#menu ul {
   /*border: 1px solid red;*/
   list-style-type: none;
}
#menu ul.mainmenu {
   /*border: 1px solid firebrick;*/
   /*height: 26px;*/
}
#menu ul li{
   /*border: 1px solid firebrick;*/
   width: 162px;
   float: left;
}
#menu li a {
   display: block;
   background-color: wheat;
   color: #b22222;
   padding: 5px;
   font-weight: bold;
}
#menu li a:hover {
   background-color: beige;
   color: #a52a2a;   
}
#menu li ul {
   display: none;
   position: absolute;
   width: 160px;
}
#menu li:hover ul {
   display: block;
}
#menu ul li ul li {
   border: 1px solid firebrick;
}

/*--- content ---*/
#content {
   border: 1px solid firebrick;
   width: 800px;   
   margin: auto;
   margin-top: 5px;
   margin-bottom: 5px;
   background-color: #f5fffa;
   padding: 5px;
}
#content h3 {
   background-color: #ccffcc;
   font-weight: bold;
   padding: 2px;
   margin: 10px 0px 5px 0px;
}
#content h5 {
   font-weight: bold;
   border-bottom: 1px dashed #222222;
   margin-top: 10px;
   margin-bottom: 5px; 
}

#content a {
   color: green;
}

#content ol {
   margin: 0px 0px 0px 20px;
}
#content ol li {
   margin-bottom: 5px;
}
#content ul {
   margin: 0px 0px 0px 20px;
}
#content .important {
	font-style: italic;
	color: firebrick;
}
/*--- footer ---*/
#footer {
   border: 1px solid firebrick;
   width: 800px;   
   margin: auto;
   background-color: wheat;
   padding: 5px;
}
.poweredby {
   float: right;
}