body {
    background-color: #bad0e5;
    font-family: Bookman, Tahoma, Verdana;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#div01 {
    background-color: #042331;
    position: fixed;
    width: 250px;
    height: 100%;
}

#div02 {
    background-color: #ffffff;
    position: fixed;
    top: 20px;
    left: 270px;
    width: 1070px;
    height: 580px;
}

#div01 #ad_name {
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 60px;
    background: rgb(6, 80, 109);
    user-select: none;
}

#div01 ul li a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: left;
    font-size: 15px;
    color: white;
    border-top: 1px solid rgb(255, 255, 255, .1);
    border-bottom: 1px solid black;
}

#div01 ul li a p {
    margin-left: 30px;
}

#div01 ul li a:hover {
    background-color: rgb(0, 41, 117);
    transition: 0.5;
}

#div01 ul li a p:hover {
    margin-left: 40px;
    transition: 0.5;
}

.div02_title {
    position: absolute;
    font-size: 20px;
    left: 10px;
    top: 10px;
}

#div02_thongtincanhan_lienhe table {
    background-color: rgb(152, 212, 214);
    position: absolute;
    top: 50px;
    left: 20px;
    width: 500px;
    height: 220px;
}

#div02_thongtincanhan_lienhe table tr th {
    padding-left: 10px;
    text-align: left;
    line-height: 50px;
    width: 150px;
}

#div02_thongtincanhan_lienhe table tr td {
    text-align: left;
    line-height: 50px;
    width: 350px;
}

#div02_thanhvien_add {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(18, 184, 54);
    right: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
}

#div02_thanhvien_add:hover {
    border: 1px solid rgb(0, 0, 0);
}

#form_add_user {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: rgb(197, 228, 248);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    border-radius: 10px;
    visibility: hidden;
    transition: 0.5s;
}

#form_add_user table tr th {
    position: relative;
    padding: 14px;
    padding-left: 50px;
}

#form_add_user_submit {
    background-color: rgb(49, 102, 182);
    margin-top: 10px;
    border: 0px;
    width: 80px;
    height: 30px;
}

#form_add_user_reset {
    background-color: rgb(180, 182, 49);
    margin-top: 10px;
    border: 0px;
    width: 80px;
    height: 30px;
}

#form_add_user_exit {
    background-color: rgb(83, 83, 83);
    margin-top: 10px;
    border: 0px;
    width: 80px;
    height: 30px;
}

#form_add_user_submit:hover,
#form_add_user_reset:hover,
#form_add_user_exit:hover {
    border: 2px solid rgb(255, 255, 255);
}

.error {
    display: block;
}

.error+label {
    display: block;
    position: absolute;
    margin-top: 5px;
    color: red;
    font-size: 14px;
}