body {
    background-color: #bad0e5;
    font-family: Bookman, Tahoma, Verdana;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#div01 {
    background-color: #042331;
    position: fixed;
    width: 250px;
    height: 100%;
}

#div02 {
    position: absolute;
    top: 10px;
    left: 270px;
    width: 1070px;
    height: auto;
}

#div01 #ad_name {
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 60px;
    background: rgb(6, 80, 109);
    user-select: none;
}

#div01 ul li a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: left;
    font-size: 15px;
    color: white;
    border-top: 1px solid rgb(255, 255, 255, .1);
    border-bottom: 1px solid black;
}

#div01 ul li a p {
    margin-left: 30px;
}

#div01 ul li a:hover {
    background-color: rgb(0, 41, 117);
    transition: 0.5;
}

#div01 ul li a p:hover {
    margin-left: 40px;
    transition: 0.5;
}

.div02_title {
    position: absolute;
    word-wrap: break-word;
    width: 500px;
    height: 50px;
    font-size: 20px;
    left: 10px;
    top: 10px;
}

#div02_thongtincanhan_lienhe table {
    background-color: rgb(152, 212, 214);
    position: absolute;
    top: 50px;
    left: 20px;
    width: 500px;
    height: 220px;
}

#div02_thongtincanhan_lienhe table tr th {
    padding-left: 10px;
    text-align: left;
    line-height: 50px;
    width: 150px;
}

#div02_thongtincanhan_lienhe table tr td {
    text-align: left;
    line-height: 50px;
    width: 350px;
}


/*THÀNH VIÊN*/


/*Button Thêm thành viên*/

#div02_thanhvien_add {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(18, 184, 54);
    right: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
}

#div02_thanhvien_add:hover {
    border: 1px solid rgb(0, 0, 0);
}


/*Thanh tìm kiếm thành viên*/

#div02_thanhvien_form_search_input {
    position: absolute;
    left: 300px;
    top: 12px;
    width: 400px;
    height: 38px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}


/*Form Thêm thành viên*/

#div02_thanhvien_form_add {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: rgb(197, 228, 248);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    border-radius: 10px;
    visibility: hidden;
    transition: 0.5s;
}

#div02_thanhvien_form_add table tr th {
    position: relative;
    padding: 14px;
    padding-left: 50px;
}


/*Form Chỉnh sửa thành viên*/

#div02_thanhvien_form_edit {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 1060px;
    height: 500px;
    background-color: rgb(197, 228, 248);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    border-radius: 10px;
    visibility: hidden;
    transition: 0.5s;
}

#div02_thanhvien_form_edit tr th {
    position: relative;
    padding-right: 0px;
    width: 200px;
}

#div02_thanhvien_form_edit tr td {
    position: relative;
    padding-right: 20px;
}

.div02_thanhvien_form_edit_form_input {
    padding-left: 5px;
    width: 400px;
    height: 35px;
}

#div02_thanhvien_form_edit_form_hinhanh_img {
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 0px;
}

#div02_thanhvien_form_edit_form_hinhanh_img:hover {
    border: 1px solid black;
    color: red;
}


/*BEGIN_CHUNG*/

.div02_form_submit {
    background-color: rgb(49, 102, 182);
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0px;
    width: 80px;
    height: 30px;
}

.div02_form_reset {
    background-color: rgb(180, 182, 49);
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0px;
    width: 80px;
    height: 30px;
}

.div02_form_exit {
    background-color: rgb(83, 83, 83);
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0px;
    width: 80px;
    height: 30px;
}

.div02_form_submit:hover,
.div02_form_reset:hover,
.div02_form_exit:hover {
    border: 2px solid rgb(255, 255, 255);
}

.error {
    display: block;
}

.error+label {
    display: block;
    position: absolute;
    margin-top: 5px;
    color: red;
    font-size: 14px;
}

.pick_page {
    position: relative;
    top: 10px;
}

.pages {
    background-color: white;
    display: inline-block;
    font-weight: bold;
    color: black;
    border: 2px solid rgb(190, 190, 190);
    text-align: center;
    line-height: 25px;
    margin-right: 5px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
}

.pages_tool {
    background-color: rgb(160, 255, 203);
    display: inline-block;
    font-weight: bold;
    color: black;
    border: 2px solid rgb(190, 190, 190);
    text-align: center;
    line-height: 25px;
    margin-right: 5px;
    margin-bottom: 20px;
    width: 50px;
    height: 30px;
}

.pages:hover,
.pages_tool:hover {
    border: 2px solid rgb(0, 0, 0);
}

#divreport_delete_thanhvien,
#divreport_delete_tacgia,
#divreport_delete_theloai,
#divreport_delete_chuong,
#divreport_delete_truyen {
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    border-radius: 10px;
    visibility: hidden;
    transition: 0s;
}

#divreport_delete_thanhvien h3,
#divreport_delete_tacgia h3,
#divreport_delete_theloai h3,
#divreport_delete_chuong h3,
#divreport_delete_truyen h3 {
    color: rgb(0, 0, 0);
    margin-top: 40px;
    margin-left: 80px;
}

#divreport_delete_thanhvien_yes,
#divreport_delete_thanhvien_no,
#divreport_delete_tacgia_yes,
#divreport_delete_tacgia_no,
#divreport_delete_theloai_yes,
#divreport_delete_theloai_no,
#divreport_delete_chuong_yes,
#divreport_delete_chuong_no,
#divreport_delete_truyen_yes,
#divreport_delete_truyen_no {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-left: 110px;
    margin-right: 50px;
    width: 100px;
    height: 40px;
    background-color: rgb(49, 102, 182);
    border: 0px;
    display: inline-block;
}

#divreport_delete_thanhvien_yes:hover,
#divreport_delete_thanhvien_no:hover,
#divreport_delete_tacgia_yes:hover,
#divreport_delete_tacgia_no:hover,
#divreport_delete_theloai_yes:hover,
#divreport_delete_theloai_no:hover,
#divreport_delete_chuong_yes:hover,
#divreport_delete_chuong_no:hover,
#divreport_delete_truyen_yes:hover,
#divreport_delete_truyen_no:hover {
    border: 2px solid black;
}


/*End_chung*/


/*Danh sách thành viênr*/

#div02_thanhvien_list {
    border-radius: 5px;
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
}

#div02_thanhvien_list_table {
    border: 1px solid rgb(216, 216, 216);
    font-size: 15px;
    text-align: center;
    width: 1050px;
}

#div02_thanhvien_list_table th {
    height: 30px;
}

#div02_thanhvien_list_table td {
    border-top: 1px solid rgb(240, 240, 240);
    height: 80px;
}


/*TÁC GIẢ*/


/*Button Thêm tác giả*/

#div02_tacgia_add {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(18, 184, 54);
    right: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
}

#div02_tacgia_add:hover {
    border: 1px solid rgb(0, 0, 0);
}


/*Tìm kiếm tác giả*/

#div02_tacgia_form_search_input {
    position: absolute;
    left: 300px;
    top: 12px;
    width: 400px;
    height: 38px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}


/*Form Thêm tác giả và Chỉnh sửa tác giả*/

#div02_tacgia_form_add,
#div02_tacgia_form_edit {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 1020px;
    height: 500px;
    background-color: rgb(197, 228, 248);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    border-radius: 10px;
    visibility: hidden;
    transition: 0.5s;
}

.div02_tacgia_form_add_form_input,
.div02_tacgia_form_edit_form_input {
    margin-top: 20px;
    padding-left: 5px;
    width: 500px;
    height: 35px;
}

#div02_tacgia_form_add_form table tr td,
#div02_tacgia_form_edit_form table tr td {
    position: relative;
    padding-right: 20px;
}

#div02_tacgia_form_add_form_hinhanh_img,
#div02_tacgia_form_edit_form_hinhanh_img {
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 20px;
}

#div02_tacgia_form_add_form_hinhanh_img:hover,
#div02_tacgia_form_edit_form_hinhanh_img:hover {
    border: 1px solid black;
    color: red;
}


/*Danh sách tác giả*/

#div02_tacgia_list_table_td_id {
    width: 30px;
    text-align: center;
}

#div02_tacgia_list_table_td_hoten {
    width: 400px;
    text-align: center;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_tacgia_list_table_td_hinhanh {
    width: 100px;
    padding: 2px;
    text-align: center;
}

#div02_tacgia_list_table_td_ngaysinh {
    width: 150px;
    text-align: center;
}

#div02_tacgia_list_table_td_tieusu {
    width: 600px;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_tacgia_list_table_td_congcu {
    width: 100px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}


/*
#div02_tacgia_list {
    border-radius: 5px;
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
}

#div02_tacgia_list_table {
    border: 1px solid rgb(216, 216, 216);
    font-size: 15px;
    text-align: center;
    width: 1050px;
}

#div02_tacgia_list_table th {
    height: 30px;
}

#div02_tacgia_list_table td {
    border-top: 1px solid rgb(240, 240, 240);
    height: 80px;
}
*/


/* THỂ LOẠI */


/*Button Thêm thể loại*/

#div02_theloai_add {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(18, 184, 54);
    right: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
}

#div02_theloai_add:hover {
    border: 1px solid rgb(0, 0, 0);
}


/*Tìm kiếm thể loại*/

#div02_theloai_form_search_input {
    position: absolute;
    left: 300px;
    top: 12px;
    width: 400px;
    height: 38px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}


/*Form Thêm thể loại và Chỉnh sửa thể loại*/

#div02_theloai_form_add,
#div02_theloai_form_edit {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 450px;
    background-color: rgb(197, 228, 248);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    border-radius: 10px;
    visibility: hidden;
    transition: 0.5s;
    padding-left: 30px;
}

.div02_theloai_form_add_form_input,
.div02_theloai_form_edit_form_input {
    margin-top: 20px;
    padding-left: 5px;
    width: 500px;
    height: 35px;
}

#div02_theloai_form_add_form table tr td,
#div02_theloai_form_edit_form table tr td {
    position: relative;
    padding-right: 20px;
}

#div02_theloai_form_add_form_hinhanh_img,
#div02_theloai_form_edit_form_hinhanh_img {
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 20px;
}

#div02_theloai_form_add_form_hinhanh_img:hover,
#div02_theloai_form_edit_form_hinhanh_img:hover {
    border: 1px solid black;
    color: red;
}


/*Danh sách thể loại*/

#div02_theloai_list,
#div02_tacgia_list,
#div02_truyen_list,
#div02_chuong_list {
    position: absolute;
    margin-top: 60px;
    margin-left: 10px;
}

#div02_theloai_list_table,
#div02_tacgia_list_table,
#div02_truyen_list_table,
#div02_chuong_list_table {
    border: 1px solid rgb(216, 216, 216);
    font-size: 15px;
    width: 1050px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#div02_theloai_list_table th,
#div02_tacgia_list_table th,
#div02_truyen_list_table th,
#div02_truyen_chuong_list_table th,
#div02_chuong_list_table th {
    padding-left: 10px;
    padding-right: 5px;
    height: 30px;
    background-color: rgb(77, 148, 240);
}

#div02_theloai_list_table td,
#div02_tacgia_list_table td,
#div02_truyen_list_table td,
#div02_truyen_chuong_list_table td,
#div02_chuong_list_table td {
    border-top: 1px solid rgb(240, 240, 240);
    height: 50px;
}

#div02_theloai_list_table tr:nth-child(even),
#div02_tacgia_list_table tr:nth-child(even),
#div02_truyen_list_table tr:nth-child(even),
#div02_truyen_chuong_list_table tr:nth-child(even),
#div02_chuong_list_table tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

#div02_theloai_list_table tr:nth-child(odd),
#div02_tacgia_list_table tr:nth-child(odd),
#div02_truyen_list_table tr:nth-child(odd),
#div02_truyen_chuong_list_table tr:nth-child(odd),
#div02_chuong_list_table tr:nth-child(odd) {
    background-color: rgb(205, 233, 241);
}

#div02_theloai_list_table_td_id {
    width: 30px;
    text-align: center;
}

#div02_theloai_list_table_td_name {
    width: 300px;
    text-align: center;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_theloai_list_table_td_mota {
    width: 600px;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_theloai_list_table_td_congcu {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}


/* TRUYỆN */


/*Button Thêm truyện*/

#div02_truyen_add {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(18, 184, 54);
    right: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
}

#div02_truyen_add:hover {
    border: 1px solid rgb(0, 0, 0);
}


/*Tìm kiếm truyện*/

#div02_truyen_form_search_input {
    position: absolute;
    left: 300px;
    top: 12px;
    width: 400px;
    height: 38px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}


/*Form Thêm truyện và Chỉnh sửa truyện*/

#div02_truyen_form_add,
#div02_truyen_form_edit {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: 0.5s;
}

#div02_truyen_form_add_form,
#div02_truyen_form_edit_form {
    background-color: rgb(197, 228, 248);
    width: auto;
    height: auto;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    border-radius: 10px;
}

.div02_truyen_form_add_form_input,
.div02_truyen_form_edit_form_input,
.div02_truyen_form_add_form_select_tacgia,
.div02_truyen_form_add_form_select_theloai,
.div02_truyen_form_edit_form_select_tacgia,
.div02_truyen_form_edit_form_select_theloai {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 5px;
    width: 500px;
    height: 35px;
}

.select2-selection {
    margin-top: 30px;
}

.div02_truyen_form_add_form_select_tacgia+.error,
.div02_truyen_form_add_form_select_theloai+.error,
.div02_truyen_form_edit_form_select_tacgia+.error,
.div02_truyen_form_edit_form_select_theloai+.error {
    padding-top: 60px;
}

#div02_truyen_form_add_form table tr td,
#div02_truyen_form_edit_form table tr td {
    position: relative;
    padding-right: 20px;
}

#div02_truyen_form_add_form_hinhanh_img,
#div02_truyen_form_edit_form_hinhanh_img {
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 20px;
}

#div02_truyen_form_add_form_hinhanh_img:hover,
#div02_truyen_form_edit_form_hinhanh_img:hover {
    border: 1px solid black;
    color: red;
}


/*Danh sách truyện*/

#div02_truyen_list_table_td_stt {
    width: 30px;
    text-align: center;
}

#div02_truyen_list_table_td_name {
    width: 400px;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_truyen_list_table_td_tacgia {
    width: 300px;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_truyen_list_table_td_theloai {
    width: 300px;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_truyen_list_table_td_ngaydang {
    width: 110px;
    text-align: center;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_truyen_list_table_td_trangthai {
    width: 110px;
    text-align: center;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_truyen_list_table_td_congcu {
    width: 100px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}


/* Chương của truyện */


/*Button Thêm chương*/

#div02_chuong_add {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(18, 184, 54);
    right: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
}

#div02_chuong_tonghop {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(18, 184, 54);
    right: 180px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
}

#div02_chuong_truyen {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(18, 184, 54);
    right: 380px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
}

.div02_chuong_back {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: rgb(126, 155, 0);
    right: 0px;
    top: -60px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
    width: 500px;
}

.div02_chuong_add:hover,
#div02_chuong_tonghop:hover,
#div02_chuong_truyen:hover,
#div02_chuong_back:hover {
    border: 1px solid rgb(0, 0, 0);
}


/*Tìm kiếm truyện*/

#div02_chuong_form_search_input {
    position: absolute;
    right: 200px;
    top: 70px;
    width: 400px;
    height: 38px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}


/* Thông tin của 1 truyện*/

#div02_truyen_thongtin {
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: rgb(160, 199, 204);
    width: 250px;
    height: auto;
    padding: 25px;
    border-radius: 5px;
}

#div02_truyen_thongtin p {
    font-size: 15px;
    margin-top: 10px;
    width: 250px;
    word-break: break-all;
}


/* Danh sách chương của 1 truyện*/

#div02_truyen_chuong_list {
    position: absolute;
    right: 10px;
    top: 120px;
}

#div02_truyen_chuong_list_table {
    border: 1px solid rgb(216, 216, 216);
    font-size: 15px;
    width: 740px;
    height: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#div02_truyen_chuong_list_table_td_stt {
    width: 25px;
    text-align: center;
}

#div02_truyen_chuong_list_table_td_name {
    width: 270px;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_truyen_chuong_list_table_td_luotxem,
#div02_truyen_chuong_list_table_td_ngaydang,
#div02_truyen_chuong_list_table_td_trangthai,
#div02_truyen_chuong_list_table_td_congcu {
    width: 100px;
    text-align: center;
}


/* Form thêm chương của truyện*/

#div02_truyen_chuong_form_add {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    top: 70px;
}

.div02_truyen_chuong_form_add_form_label {
    font-weight: bold;
    color: rgb(70, 63, 63);
    display: block;
    margin-top: 10px;
    margin-bottom: -10px;
}

.div02_truyen_chuong_form_add_form_input {
    padding-left: 5px;
    width: 1060px;
    height: 40px;
    display: block;
}

#div02_truyen_chuong_form_add_form_p {
    font-weight: bold;
    color: rgb(66, 58, 58);
    font-size: 20px;
    padding-bottom: 10px;
}


/* Form chỉnh sửa chương của truyện */

#div02_truyen_chuong_form_edit {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    top: 70px;
}

.div02_truyen_chuong_form_edit_form_label {
    font-weight: bold;
    color: rgb(70, 63, 63);
    display: block;
    margin-top: 10px;
    margin-bottom: -10px;
}

.div02_truyen_chuong_form_edit_form_input {
    padding-left: 5px;
    width: 1060px;
    height: 40px;
    display: block;
}

#div02_truyen_chuong_form_edit_form_p {
    font-weight: bold;
    color: rgb(66, 58, 58);
    font-size: 20px;
    padding-bottom: 10px;
}


/* Danh sách chương*/

#div02_chuong {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}

#div02_chuong_search {
    position: absolute;
    left: 300px;
    top: 12px;
    width: 400px;
    height: 38px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

#div02_chuong_quanly_truyen {
    position: absolute;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    display: inline-block;
    background-color: rgb(18, 184, 54);
    left: 900px;
    top: 10px;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
    text-align: center;
    width: 140px;
    height: 18px;
}

#div02_chuong_list_table_td_stt {
    width: 35px;
    text-align: center;
}

#div02_chuong_list_table_td_name {
    width: 300px;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_chuong_list_table_td_truyen {
    width: 300px;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}

#div02_chuong_list_table_td_luotxem,
#div02_chuong_list_table_td_ngaydang,
#div02_chuong_list_table_td_trangthai,
#div02_chuong_list_table_td_congcu {
    width: 100px;
    text-align: center;
}


/* Thông báo thao tác thành công*/

#divreport_success {
    visibility: hidden;
    background-color: rgb(21, 175, 80);
    font-weight: bold;
    color: white;
    position: fixed;
    left: 2%;
    bottom: -10%;
    transition: 1s;
    border-radius: 5px;
    padding: 20px;
}


/* Thông báo thao tác thất bại*/

#divreport_failed {
    visibility: hidden;
    background-color: rgb(160, 26, 26);
    font-weight: bold;
    color: white;
    position: fixed;
    left: 2%;
    bottom: -10%;
    transition: 1s;
    border-radius: 5px;
    padding: 20px;
}